/*
blue: #007DFA
*/
body, html{
    height: 100%;
}
.page-container{
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow-y: hidden;

}
.picture-container{
    height: 100%;
    width: 100%;
}
img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
}
.login-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

}
.login-header{
    display: flex;
    text-align: left;
    flex-direction: column;
}
.login-form{
    width: 90%;
}
.login-footer{
    display: flex;
    justify-content: flex-end;
    margin-right: -2.2em;
}
.form-control{
    color: var(--light-lila);
    width: 95%;
    background-color: var(--light-gray);
    border-radius: 0.5em;
    height: 2.5em;
    margin-top: 0.6em;
    border-color: transparent;
    padding: 0.5em;
}
input{
    padding-left: 3em !important;
}
.form-control:focus-visible{
    border-color: transparent;
}
.next-button{
    background-color: var(--main-blue);
    padding: 0.7em;
    width: 8em;
    color: white;
    font-weight: 700;
    text-align: left;
    padding-left: 1em;
    border-radius: 0.3em;
    border-color: transparent;
    margin-top: 0.3em;

}
hr{
    width: 100%;
    /* border-width: 10; */
    color:var(--main-blue);
    background-color: var(--main-blue);
}
.other-section{
    width: 40%;
}
.options{
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    text-decoration: none;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.icon{
    position: absolute;
    box-sizing:border-box;
    color: var(--light-lila);
    top: 55%;
    left: 0.9em;
    transform: translateY(-50%);
}
.input-group{
    position: relative;
}
.login-title{
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 1em;
    color: var(--dark-lila);

}
.login-description{
    font-size: 0.9em;
    font-weight: 500;
    padding-bottom: 0.7em;
    color: var(--dark-lila);
}
.suggestion{
    color: black;
}
.blue { 
    color: var(--main-blue) !important
}
